!!!
%html 
%head
  %title Ruby Forum 
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  %link{ rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Lato", type: "text/css" }
  %link{ rel: "stylesheet", href: "http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" }
  -# = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  = csrf_meta_tags
%body
  %header.main_header.clearfix
    .wrapper
      #logo 
        %p= link_to "♦️ Ruby Forum ♦️", root_path
      #buttons
        - if user_signed_in?
          = link_to "Nouveau Post", new_post_path
        - else 
          = link_to "S'inscrire", new_user_registration_path
          = link_to "Se connecter", new_user_session_path
  .wrapper    
    %p.notice= notice
    %p.alert= alert
  .wrapper  
    = yield